<nav class="navbar navbar-expand-lg navbar-light bg-primary">
        <a class="navbar-brand" href="#">Crowd Sourcing</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item active">
              <a class="nav-link" routerLink="/addposts" >Add Post <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active">
              <a class="nav-link" routerLink="/viewposts">View Post</a>
            </li>
            
          </ul>
        </div>
      </nav>
      <body><br><br>
        <h3 style="text-align: center">Add Post</h3>
        <br>
        <div class="container" style="background-color: white;text-align: center">
            Please fill this form<br><br>
            <form (ngSubmit)="create()">
            <div class="row">
                <div class="col-6" style="text-align: right">
                    <label>*Project Name:</label></div>
                <div class="col-6" style="text-align: left">
                    <input type="text" id="name1"  [(ngModel)]="projectname" name="projectname" placeholder="Enter Project name"><br>
                </div>
            </div><br>
    
            <div class="row">
                <div class="col-6" style="text-align: right">
                    <label>*Description:</label></div>
                <div class="col-6" style="text-align: left">
                        <textarea rows="4" cols="50" [(ngModel)]="description" name="Description" placeholder="Description">
                                </textarea><br>
                </div>
            </div><br>
    
            <div class="row">
                <div class="col-6" style="text-align: right">
                    <label>*Price for Freelancer:</label></div>
                <div class="col-6" style="text-align: left">
                    <input type="number"  id="age" [(ngModel)]="price" name="price" placeholder="Enter price"><br>
                </div>
            </div><br>
    
            <div class="row">
                <div class="col-6" style="text-align: right">
                    <label>Credits to be earned:</label></div>
                    <div class="col-6" style="text-align: left">
                            <input type="number" name="credits" [(ngModel)]="credits" id="age" placeholder="Enter Credits"><br>
                        </div>
            </div><br>
    
           
    
            <!-- Button trigger modal -->
            <input type="submit" value="Submit" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalLong">
            
           </form> 
    
            <!-- Modal -->
            <div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog"
                aria-labelledby="exampleModalLongTitle" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLongTitle"></h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <h5>Post created successfully</h5>
                            
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal" routerLink="/addposts">Ok</button>
                        </div>
                    </div>
                </div>
            </div>
            <br><br>
    
        </div>
    
    
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>>
    
    </body>
