<body><br><br>
    <h3 style="text-align: center">Sign-Up Form</h3>
    <br>
    <div class="container" style="background-color: white;text-align: center">
        Please fill this form<br><br>
        <form (ngSubmit)="submit()">
        <div class="row">
       
            <div class="col-6"  style="text-align: right">
                <label>*Name:</label></div>
            <div class="col-6" style="text-align: left">
                <input type="text" name="name" [(ngModel)]="name" id="name1" placeholder="Enter name"><br>
            </div>
        </div><br>

        <div class="row">
            <div class="col-6" style="text-align: right">
                <label>*Email:</label></div>
            <div class="col-6" style="text-align: left">
                <input type="email" [(ngModel)]="email" name="email" id="email" placeholder="Enter Email"><br>
            </div>
        </div><br>

        <div class="row">
            <div class="col-6" style="text-align: right">
                <label>*Age:</label></div>
            <div class="col-6" style="text-align: left">
                <input type="number" [(ngModel)]="age" name="age" id="age" placeholder="Enter age"><br>
            </div>
        </div><br>

        <div class="row">
            <div class="col-6" style="text-align: right">
                <label>Skills:</label></div>
            <div class="col-6" style="text-align: left">
                <select id="Skills">
                    <option>JAVA</option>
                    <option>.NET</option>
                    <option>Python</option>
                    <option>Angular</option>
                    <option>React</option>
                </select><br>
            </div>
        </div><br>

        <div class="row">
            <div class="col-6" style="text-align: right">
                <label>DXC employee/Freelancer?:</label></div>
            <div class="col-6" style="text-align: left" >
                <input type="radio" name="rec"  [(ngModel)]="selected" value="DXC">DXC employee<br>
                <input type="radio" name="rec"  [(ngModel)]="selected" value="Freelancer">Freelancer<br>
            </div>
        </div><br>

        <div class="row">
            <div class="col-6" style="text-align: right">
                <label>*Password:</label></div>
            <div class="col-6" style="text-align: left">
                <input type="password" name="password" [(ngModel)]="password" id="password" placeholder="Enter Password"><br>
            </div>
        </div><br>

        <div class="row">
            <div class="col-6" style="text-align: right">
                <label>* Confirm Password:</label></div>
            <div class="col-6" style="text-align: left">
                <input type="password" id="cpassword" placeholder="Confirm Password"><br>
            </div>
        </div><br>

        <!-- Button trigger modal -->
        <button type="submit" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalLong">
            Submit
        </button>
</form>
        <!-- Modal -->
        <div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog"
            aria-labelledby="exampleModalLongTitle" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <h5>User created successfully</h5>
                        
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal" routerLink="">Login Now</button>
                    </div>
                </div>
            </div>
        </div>
        <br><br>

    </div>


    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>>

</body>